@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    @apply h-full;
  }

  #__next {
    @apply flex flex-col;
  }
}

.MuiButtonBase-root {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.SnackbarItem-message {
  max-width: 512px;
}

@layer utilities {
  .clippath-icon-on-active {
    clip-path: polygon(100% -100%, 100% 100%, -100% 100%);
  }
  .clippath-icon-on-inactive {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
  }
  .clippath-icon-off-active {
    clip-path: polygon(0% 200%, 0% 0%, 200% 0%);
  }
  .clippath-icon-off-inactive {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
  }
}
